.blog-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 60px;
    position: relative;
}
.some-details{
    position: sticky;
    top: 10px;
}

.qa-container{
    border: 1px solid black;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    text-align: center;
    margin-bottom: 30px;
    margin-right: 330px;
}