.header{
    border-bottom: 1px solid rgba(17, 17, 17, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.pic{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.title {
    font-family: 'Exo 2';
    font-style: normal;  
    font-size: 40px;
    line-height: 160%;
    color: #111111;
}
