.time-box {
    background: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;
    margin-bottom: 20px;


}

.x {
    margin-left: 20px;
    margin-right: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #6047EC;
}

.bookmarked-blogs {
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    padding: 20px;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;

    color: #111111;
}

.box {
    border-radius: 8px;
    background-color: white;
   
    padding: 18px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #111111;
    border-bottom: 5px;
}